{% extends "base.html" %}

{% block content %}
    <div class="flex justify-center mt-8">
        <div class="w-4/12">
            <hr class="my-8">
            <div class="flex justify-left">
                <img class="h-24 w-24 rounded-full"src="{{ url_for('static', filename='images/defaultpp.png') }}" alt="Default Profile Picture">
                <h1 class="ml-8 mt-2 text-2xl">{{ user_data['username'] }}</h1> 
            </div>
            <hr class="my-8">
            <h1 class="text-2xl font-bold">Reviews</h1>
        </div>
    </div>
{% endblock %}