<div class="flex justify-center py-6 bg-blue-200">
    <div class="w-3/4 flex justify-between items-center">
        <a class="hover:opacity-50" href="{{ url_for('main.home') }}">
            <h1 class="text-2xl font-bold">Booksite</h1>
        </a>
        <div class="flex items-center">
            {% if session['logged_in'] != True %}
                <div class="inline ml-6">
                    <a href="{{ url_for('account.login') }}" class="middle hover:opacity-50">Login</a>
                </div>
                <div class="inline ml-6">
                    <a href="{{ url_for('account.register') }}" class="hover:opacity-50">Register</a>
                </div>
            {% else %}
                <div class="inline ml-6">
                    <span class="middle">{{ session['username'] }}</span>
                </div>
                <div class="inline ml-6">
                    <a href="{{ url_for('account.logout') }}" class="middle hover:opacity-50">Logout</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>